/* Configurações gerais para a página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Estilo para o header */
header {
  background-color: #333; /* Cor de fundo do cabeçalho */
  color: #fff; /* Cor do texto do cabeçalho */
  padding: 20px 0; /* Espaçamento interno do cabeçalho */
  text-align: center;
}

/* Estilo para o menu de navegação */
header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

header nav ul li {
  margin: 0 15px; /* Espaçamento entre os itens do menu */
}

header nav ul li a {
  color: #fff; /* Cor dos links */
  text-decoration: none; /* Remover sublinhado dos links */
  font-size: 18px;
  transition: color 0.3s ease; /* Transição para o efeito hover */
}

/* Efeito hover para links */
header nav ul li a:hover {
  color: #ff6347; /* Cor dos links ao passar o mouse */
}

/* Responsivo: ajuste do menu para telas menores */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 10px 0;
  }
}

/* Estilo para a imagem de perfil oval */
.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.fotoPerfil {
  width: 150px; /* Largura da imagem */
  height: 200px; /* Altura da imagem para efeito oval */
  border-radius: 50%; /* Torna a imagem oval */
  object-fit: cover; /* Corta a imagem para preencher o contêiner */
  border: 3px solid #333; /* Adiciona uma borda */
  align-items: center;
}

.texto1 {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  text-align: center;
}

.texto1Segundo{
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  text-align: justify;
}

.texto2 {
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

.texto2Segundo {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  text-align: justify;
}

.texto3 {
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

.texto3Segundo {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  text-align: justify;
}

.texto4 {
  color: black;
  font-family: sans-serif;
  font-size: 40px;
  text-align: center;
}

.texto4Segundo {
  color: black;
  font-family: sans-serif;
  font-size: 30px;
  text-align: justify;
}

.botao {
  border-radius: 40px;
  font-size: 20px;
}